<% layout('partials/layout') %>
<h2>Iniciar sesión</h2>
<form method="post" action="/login" class="card" style="max-width:540px">
  <label>Email</label><input type="email" name="email" required>
  <label>Contraseña</label><input type="password" name="password" required>
  <button class="btn" type="submit">Entrar</button>
  <% if(typeof error!=='undefined'){ %><p style="color:#b00"><%= error %></p><% } %>
</form>